@model StarInsurance.Models.ClaimDetail

@{
    ViewBag.Title = "Details";
}

<h1 class="text-center mt-4">Details</h1>
<hr />
<div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ClaimId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClaimId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ClaimType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClaimType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClaimAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClaimAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfIncident)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfIncident)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfClaim)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfClaim)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsValid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsValid)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedUtc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedUtc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InsurancePolicyId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InsurancePolicyId)
            </dd>

        </dl>

    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ClaimId },htmlAttributes:new { @class = "text-light" }) |
        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "text-light" })
    </p>
